@import "tailwindcss";

:root {
  --background: #C4FFF9;
  --foreground: #001219;
  /* COLOR PALETTE */
  --black: #0f1108;
}

/* Dark Mode */
.dark {
  --background: #001219;
  --foreground: #edf2f4;
}

@theme inline{

}

.font-electrolize {
  font-family: var(--font-electrolize), 'Electrolize', sans-serif;
}

.font-inter {
  font-family: var(--font-inter), 'Inter', sans-serif;
}
@theme{
  --animate-marquee: marquee 20s linear infinite;
  --animate-fade-in-up: fade-in-up 0.4s ease-out both;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


